 # this file ignores the files with the extensions below;
*/*/*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
 __pycache__/
 *.pyc
 *.egg-info/
 *.egg
 
